<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.EodetailMapper" >
  <resultMap id="BaseResultMap" type="com.cn.entity.Eodetail" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="loginName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="details" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="cost" jdbcType="REAL" javaType="java.lang.Float" />
      <arg column="serialNumber" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="paymoney" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, loginName, details, userAddress, createTime, cost, serialNumber, status, 
    paymoney
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from eodetail
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--显示所有订单selectAllEodetail-->
  <select id="selectAllEodetail" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from eodetail
  </select>

  <!--selectEodetailByPage分页按页查询-->
  <select id="selectEodetailByPage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from eodetail limit #{ye},8
  </select>

  <!--selectmyEodetail查看自己的订单-->
  <select id="selectmyEodetail" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from eodetail
    where userId=#{id }
  </select>

  <!--selectmyEodetailByPage查看自己的订单分页-->
  <select id="selectmyEodetailByPage" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from eodetail
    where userId = #{param1 }
    limit #{param2},4;
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from eodetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.entity.Eodetail" >
    insert into eodetail (id, userId, loginName, 
      details, userAddress, createTime, 
      cost, serialNumber, status, 
      paymoney)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{loginname,jdbcType=VARCHAR}, 
      #{details,jdbcType=VARCHAR}, #{useraddress,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{cost,jdbcType=REAL}, #{serialnumber,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{paymoney,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.entity.Eodetail" >
    insert into eodetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="loginname != null" >
        loginName,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="useraddress != null" >
        userAddress,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="serialnumber != null" >
        serialNumber,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="paymoney != null" >
        paymoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="useraddress != null" >
        #{useraddress,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=REAL},
      </if>
      <if test="serialnumber != null" >
        #{serialnumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="paymoney != null" >
        #{paymoney,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.entity.Eodetail" >
    update eodetail
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="loginname != null" >
        loginName = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="useraddress != null" >
        userAddress = #{useraddress,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=REAL},
      </if>
      <if test="serialnumber != null" >
        serialNumber = #{serialnumber,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="paymoney != null" >
        paymoney = #{paymoney,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.entity.Eodetail" >
    update eodetail
    set userId = #{userid,jdbcType=INTEGER},
      loginName = #{loginname,jdbcType=VARCHAR},
      details = #{details,jdbcType=VARCHAR},
      userAddress = #{useraddress,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      cost = #{cost,jdbcType=REAL},
      serialNumber = #{serialnumber,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      paymoney = #{paymoney,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>