@charset "utf-8";

* {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
	font-size: 14px;
}
#hides{display: none;}
a {
	text-decoration: none;
}

li {
	list-style-type: none;
}



/*******left页面css*******/
.container {
	width: 220px;
	height: 440px;
	margin: auto;
	position: absolute;
	border: 1px solid #dedede;
	margin-left: 130px;
}


.leftsidebar_box {
	 width: 220px;
	 height: 440px;
 }


.leftsidebar_box dt {
	background-color: #f9f9f9;
	color: #333;
	font-size: 14px;
	position: relative;
	line-height: 44px;
	cursor: pointer;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	padding-left: 40px;
}

.leftsidebar_box dd {
	display: none;
	position: relative;
	background-color: white;
	padding-left: 65px;
	border-bottom: 1px solid #dedede;
	border-right: 1px solid #dedede;
	height: 30px;
}

.leftsidebar_box dd a {
	color: #333;
	line-height: 42px;
	width: 100%;
	height: 100%;
	display: inline-block;
	cursor: pointer;
}


.leftsidebar_box dt img.icon3 {
	display: none;
	position: absolute;
	top: 20px;
	right: 12px;
}

.leftsidebar_box dt img.icon4 {
	position: absolute;
	top: 20px;
	right: 12px;
}


.leftsidebar_box dd img.coin22 {
	position: absolute;
	top:10px;
	left: 40px;
	width: 15px;
	height: 15px;
}

.leftsidebar_box dl dd:last-child {
	padding-bottom: 10px;
}

/*.leftsidebar_box .line {
	background-color: orangered;
	color: #333;
	font-size: 14px;
	position: relative;
	line-height: 44px;
	cursor: pointer;
	border-right: 1px solid #dedede;
	padding-left: 40px
}*/



.line {
	background-color: orangered;
	color: #333;
	font-size: 14px;
	position: relative;
	line-height: 44px;
	cursor: pointer;
	border-right: 1px solid #dedede;

	width: 220px;
}

.leftsidebar_box .line img {
	position: absolute;
	top: 10px;
	left: 10px;
}

.leftsidebar_box .menu_chioce1 {
	color: #106ea9;
}

.leftsidebar_box .menu_chioce2 {
	color: #106ea9;
}

#leftlast{
	height: 400px;
	width: 220px;
	border: 1px solid red;
	position: relative;
	top: 470px;
	margin-left: 130px;
}

.leftbody .last {
	background-color: orangered;
	color: #333;
	font-size: 14px;
	position: relative;
	line-height: 44px;
	width: 220px;
}
/*left.css end*/